<section class="featured-post-section">
    <h2>Featured Post</h2>
    <div class="featured-post-container">
        <div class="featured-post-image-col">
            <% if (featuredPost.imageUrl) { %>
                <img src="<%= featuredPost.imageUrl %>" alt="<%= featuredPost.title %>" class="featured-post-image">
            <% } else { %>
                <img src="/images/default-featured-image.jpg" alt="Default Featured Image" class="featured-post-image">
            <% } %>
        </div>
        <div class="featured-post-content-col">
            <br>
            <small class="post-category">
                            <a href="/category/<%= featuredPost.categoryId %>" class="category-pill-link">
                                <%= featuredPost.category.name %>
                            </a>
            </small>
            <h3><a href="/posts/<%= featuredPost.id %>"><%= featuredPost.title %></a></h3>
            <% if (featuredPost.subtitle) { %>
                    <p><%= featuredPost.subtitle %></p>
            <% } %>
            <%- include('../partials/profileLikeCommentBar',{ post: featuredPost, currentUser})%>
            <br>
        </div> <!--end feature post content col-->
        
</section>